.pagina{
	background-color:yellow;
	color:red;
	text-align:center; 
}
.titolo{
	color:red;
	text-align:center;
}
.ciao{
	background-color:yellow;
	color:blue;
	text-align:center; 
}
#titolo2{
	color:orange;
	text-align:center;
}